VITE_XRPL_NETWORK=wss://s.altnet.rippletest.net:51233
VITE_ORGANIZER_ADDRESS=paste_organizer_address_here
VITE_ORGANIZER_SEED=paste_organizer_seed_here
VITE_PARTICIPANT_A_ADDRESS=paste_participantA_address_here
VITE_PARTICIPANT_A_SEED=paste_participantA_seed_here
VITE_PARTICIPANT_B_ADDRESS=paste_participantB_address_here
VITE_PARTICIPANT_B_SEED=paste_participantB_seed_here
VITE_PINATA_API_KEY=paste_pinata_key_here
VITE_PINATA_SECRET=paste_pinata_secret_here
VITE_TOKEN_CURRENCY=BLKPT
VITE_GOLD_THRESHOLD=100
VITE_SILVER_THRESHOLD=50
VITE_BRONZE_THRESHOLD=10